{% extends 'base.html.twig' %}

{% block title %}{{ 'game_edit.title' | trans }}{% endblock %}

{% block body %}

    <h1>{{ 'game_edit.title' | trans }}</h1>

    {{ include('team/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('team_index') }}">{{ 'team.back' | trans }}</a>

    {{ include('team/_delete_form.html.twig') }}
{% endblock %}
