{% extends 'base.html.twig' %}

{% block title %}{{  'team_table.title' | trans}}{% endblock %}

{% block body %}
    <h1>{{ 'team_table.title' | trans }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>{{ 'team_table.name' | trans }}</th>
                <th>{{ 'team_table.type' | trans }}</th>
                <th>{{ 'table.actions' | trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for team in teams %}
            <tr>
                <td>{{ team.id }}</td>
                <td>{{ team.name }}</td>
                <td>{{ team.type }}</td>
                <td>
                    <div class="item-actions">
                        <a href="{{ path('team_show', {id: team.id}) }}" class="btn btn-sm btn-default">
                            <i class="fa fa-eye" aria-hidden="true"></i> {{ 'action.show'|trans }}
                        </a>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('team_edit', {id: team.id}) }}" class="btn btn-sm btn-primary">
                                <i class="fa fa-edit" aria-hidden="true"></i> {{ 'action.edit'|trans }}
                            </a>
                        {% endif %}
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">{{ 'team_table.no_team_found' | trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('team_new') }}">{{ 'team_table.new' | trans }}</a>
    {% endif %}
{% endblock %}