{% extends 'base.html.twig' %}

{% block title %}Team index{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script>


        $("#rep_check").on("change",
            function(){

                var a = $(this).find("option:selected").html();

                $("table tr td:nth-last-child(2)").each(

                    function(){
                        if($(this).html() != a){
                            $(this).parent().hide();
                        }
                        else{
                            $(this).parent().show();
                        }
                    });
            });

    </script>
{% endblock %}
{% block body %}
    <h1>Team index</h1>
<p>
    <select id="rep_check" title="fji">
        <option disabled selected value> -- select a category -- </option>
        <option>representation</option>
        <option>club</option>
    </select>
</p>
    <table class="table">
        <thead>
            <tr>

                <th>Id</th>
                <th>Name</th>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>

        {% for team in teams %}


            <tr>
                <td>{{ team.id }}</td>
                <td>{{ team.name }}</td>
                <td>{{ team.type }}</td>
                <td>
                    <a href="{{ path('team_show', {'id': team.id}) }}">show</a>
                    {% if app.user %}
                    {% if app.user.role == '"ROLE_ADMIN"' %}
                    <a href="{{ path('team_edit', {'id': team.id}) }}">edit</a>
                    {% endif %}
                    {% endif %}
                </td>
            </tr>

        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('team_new') }}">Create new</a>

{% endblock %}
