{% extends 'base.html.twig' %}

{% block title %}{{ 'team_table.new2' | trans }}{% endblock %}


{% block body %}


    <h1>{{ 'team_table.new' | trans }}</h1>

    {{ include('team/_form.html.twig') }}

    <a href="{{ path('team_index') }}">{{ 'team.back' | trans }}</a>


{% endblock %}

