{% extends 'base.html.twig' %}

{% block title %}{{ 'user.change_password' | trans }}{% endblock %}

{% block body %}
    <h1>{{ 'user.change_password4' | trans }} {{ user.username }}</h1>

    {{ include('registration/_form1.html.twig', {'button_label': 'user.change_password' | trans}) }}

    <a href="{{ path('user_index') }}">{{ 'user_table.back' | trans }}</a>


{% endblock %}