{% extends 'base.html.twig' %}

{% block title %}{{ 'expected_results.edit' | trans }}{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script>


        document.getElementById("btn_save").onclick = function() {myFunction()};

        function myFunction() {
            document.getElementById("message").innerHTML="Expected result has been updated";
        }


    </script>
{% endblock %}
{% block body %}
    <h1>{{ 'expected_results.edit' | trans }}</h1>
    <p id="message"></p>
    {{ include('expected_results/_form.html.twig', {'button_label': 'update' | trans}) }}

    <a href="{{ path('expected_results_index') }}">{{ 'expected_results.back' | trans }}</a>

    {{ include('expected_results/_delete_form.html.twig') }}
{% endblock %}