{% extends 'base.html.twig' %}

{% block title %}{{ 'game_table.title' | trans }}{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script>
//@author Mateusz Poniatowski <mateusz@live.hk>




        $("#game_check").on("change",
            function () {

                var a = $(this).find("option:selected").html();



                $("table tr td:first-child").each(
                    function () {



                    /*    console.log("to jest z selectora: ");
                        console.log(a);
                        console.log("to jest z bazy: ");
                        console.log($(this).html());
*/


                        if (a == "wszystkie") {
                            $(this).parent().show();
                        }
                        else if ($(this).html() != a) {

                            $(this).parent().hide();
                        }
                        else {
                            $(this).parent().show();
                        }
                    });
            });



        function sortTable(n) {
            var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
            table = document.getElementById("myTable4");
            switching = true;
            dir = "asc";
            while (switching) {

                switching = false;
                rows = table.rows;

                for (i = 1; i < (rows.length - 1); i++) {

                    shouldSwitch = false;

                    x = rows[i].getElementsByTagName("TD")[n];
                    y = rows[i + 1].getElementsByTagName("TD")[n];

                    if (dir == "asc") {
                        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                            shouldSwitch = true;
                            break;
                        }
                    } else if (dir == "desc") {
                        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                            shouldSwitch = true;
                            break;
                        }
                    }
                }
                if (shouldSwitch) {
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                    switchcount ++;
                } else {
                    if (switchcount == 0 && dir == "asc") {
                        dir = "desc";
                        switching = true;
                    }
                }
            }
        }


        (function(){




            var optionVal = new Array();
            var withoutRep1 = new Array();

            var j=0;
            var i=0;
            var x = document.getElementById("game_check").length;

            const tab = [];

            var options = $('#game_check').find('option');
            //$(options[0]).show();

            //console.log($(options[0]));







        //    var unique = optionVal.filter( onlyUnique ); // returns ['a', 1, 2, '1']

            var x = document.getElementById("game_check");
            var c = document.createElement("option");





            $.each(options, function (key,option) {
                // console.log($(option).html());

                optionVal.push($(option).html());


            })


          //  const uniqueCars = Array.from(new Set(optionVal));




            var selectobject=document.getElementById("game_check");
            for ( i=0; i<selectobject.length; i++){

                selectobject.remove(i);
            }


/*
            for(i=0;i<uniqueCars.length;i++){


                option = document.createElement( 'option' );
                option.value =i;
                    option.text = uniqueCars[i];
                selectobject.add( option );


            }
*/
  //









        })();

    </script>
{% endblock %}
{% block body %}
    <h1>{{ 'game_table.title' | trans }}</h1>
    {{ 'now'|date('d - m -Y') }}
    <p>
        <select id="game_check" title="abc">



            <option disabled selected value> -- Wybierz turniej --</option>
            <option>wszystkie</option>
            {% for game in games %}
                <option> {{ game.tournament }}</option>
            {% endfor %}

        </select>
    </p>

    <table class="table" id="myTable4">
        <thead>
        <tr>
            <th> Turniej</th>
            <th onclick="sortTable(0)" style="cursor:pointer">{{ 'game_table.confrontation' | trans }}
                <img src="{{ asset('build/images/bg.png') }}" alt="sort">
            </th>
            <th onclick="sortTable(1)" style="cursor:pointer">{{ 'game_table.first_team_score' | trans }}
                <img src="{{ asset('build/images/bg.png') }}" alt="sort"></th>
            <th onclick="sortTable(2)" style="cursor:pointer">{{ 'game_table.second_team_score' | trans }}
                <img src="{{ asset('build/images/bg.png') }}" alt="sort"></th>
            <th onclick="sortTable(3)" style="cursor:pointer">{{ 'game_table.weigh' | trans }}
                <img src="{{ asset('build/images/bg.png') }}" alt="sort"></th>
            <th onclick="sortTable(4)" style="cursor:pointer">{{ 'game_table.game_date' | trans }}
                <img src="{{ asset('build/images/bg.png') }}" alt="sort"></th>
            <th>{{ 'table.actions' | trans }}</th>

        </tr>
        </thead>
        <tbody>
        {% for game in games %}
            {% if game.gameDate|date('Y-m-d H-i-s') > 'now'|date('Y-m-d H-i-s') %}

            <tr>
                <td> {{ game.tournament }}</td>
                <td>{{ game.firstTeam.name }} - {{ game.secondTeam.name }}</td>

                <td>{{ game.firstTeamScore }}</td>
                <td>{{ game.secondTeamScore }}</td>

                <td>{{ game.typeofweight }}</td>
                <td>{{ game.gameDate ? game.gameDate|date('Y-m-d H:i:s') : '' }}</td>

                <td>
                    <div class="item-actions">
                        <a href="{{ path('game1_show', {id: game.id}) }}" class="btn btn-sm btn-default">
                            <i class="fa fa-eye" aria-hidden="true"></i> {{ 'action.show1'|trans }}
                        </a>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('game_edit', {id: game.id}) }}" class="btn btn-sm btn-primary">
                                <i class="fa fa-edit" aria-hidden="true"></i> {{ 'action.edit'|trans }}
                            </a>
                        {% endif %}{% endif %}
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">{{ 'game_table.no_game_found' | trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>




    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('game_new') }}">{{ 'game_table.new' | trans }}</a>
    {% endif %}
{% endblock %}
