{% extends 'base.html.twig' %}

{% block title %}{{ 'expected_results.title' | trans }}{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>

        function sortTable(n) {
            var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
            table = document.getElementById("myTable5");
            switching = true;
            dir = "asc";
            while (switching) {

                switching = false;
                rows = table.rows;

                for (i = 1; i < (rows.length - 1); i++) {

                    shouldSwitch = false;

                    x = rows[i].getElementsByTagName("TD")[n];
                    y = rows[i + 1].getElementsByTagName("TD")[n];

                    if (dir == "asc") {
                        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                            shouldSwitch = true;
                            break;
                        }
                    } else if (dir == "desc") {
                        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                            shouldSwitch = true;
                            break;
                        }
                    }
                }
                if (shouldSwitch) {
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                    switchcount++;
                } else {
                    if (switchcount == 0 && dir == "asc") {
                        dir = "desc";
                        switching = true;
                    }
                }
            }
        }

    </script>
{% endblock %}
{% block body %}
    {% if app.user %}
    <h1>{{ 'expected_results.title' | trans }}</h1>

    <table class="table" id="myTable5">
        <thead>
            <tr>
                <th onclick="sortTable(0)" style="cursor:pointer">Id <img src="{{ asset('build/images/bg.png') }}" alt="sort"></th>
                <th onclick="sortTable(1)" style="cursor:pointer">
                    {{ 'game_table.confrontation' | trans }}
                    <img src="{{ asset('build/images/bg.png') }}" alt="sort"></th>
                <th onclick="sortTable(2)" style="cursor:pointer">
                    {{ 'expected_results.FirstTeamScoreExpected' | trans }}
                    <img src="{{ asset('build/images/bg.png') }}" alt="sort"></th>
                <th onclick="sortTable(3)" style="cursor:pointer">
                    {{ 'expected_results.SecondTeamScoreExpected' | trans }}
                    <img src="{{ asset('build/images/bg.png') }}" alt="sort"></th>
                <th onclick="sortTable(4)" style="cursor:pointer">
                    {{ 'expected_results.points' | trans }}
                    <img src="{{ asset('build/images/bg.png') }}" alt="sort"></th>
                <th>{{ 'table.actions' | trans }}</th>
            </tr>
        </thead>
        <tbody>

        {% for expected_result in expected_results %}
            {% if(expected_result.getUserId() == app.user ) %}
            <tr>
                <td>{{ expected_result.id }}</td>
                <td>{{ expected_result.NameOfMeeting }}</td>
                <td>{{ expected_result.FirstTeamScoreExpected }}</td>
                <td>{{ expected_result.SecondTeamScoreExpected }}</td>
                <td>{% if(expected_result.points!=NULL) %}{{ expected_result.points }}{% endif %}
                    {% if(expected_result.points==NULL) %}
                        <p>  {{ 'expected_results.blank_score' | trans }} </p>
                    {% endif %}
                </td>

                <td>
                    <div class="item-actions">
                        <a href="{{ path('expected_results_show', {'id': expected_result.id}) }}" class="btn btn-sm btn-default">
                            <i class="fa fa-eye" aria-hidden="true"></i> {{ 'action.show'|trans }}
                        </a>
                        {% if is_granted('ROLE_USER') %}
                        <a href="{{ path('expected_results_edit', {'id': expected_result.id}) }}"
                           class="btn btn-sm btn-primary">
                            <i class="fa fa-edit" aria-hidden="true"></i> {{ 'action.edit'|trans }}
                        </a>
                        {% endif %}
                    </div>
                </td>
            </tr>

            {% endif %}
        {% endfor %}
        </tbody>
        </table>

        <hr>
        <h1>Typy innych użytkowników za przeprowadzone mecze</h1>
        <table class="table" >
            <thead>
            <tr>
                <th>{{ 'user.username' | trans }}</th>
                <th>{{ 'expected_results.data_game' | trans }}</th>
                <th>{{ 'game_table.confrontation' | trans }}</th>
                <th>{{ 'expected_results.FirstTeamScoreExpected' | trans }}</th>
                <th>{{ 'expected_results.SecondTeamScoreExpected' | trans }}</th>
                <th>{{ 'expected_results.points' | trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for expected_result in expected_results %}
               {% if (expected_result.getNameOfMeeting().getGameDate()) |date('Y-m-d H:i:s') < 'now'|date('Y-m-d H-i-s') %}
                {% if(expected_result.getUserId() != app.user ) %}
                    <tr>
                        <td>{{ (expected_result.getUserId().getUsername() ) }}</td>
                        <td>{{ (expected_result.getNameOfMeeting().getGameDate()) ? (expected_result.getNameOfMeeting().getGameDate()) |date('Y-m-d H:i:s') : '' }}
                        <td>{{ expected_result.NameOfMeeting }}</td>
                        <td>{{ expected_result.FirstTeamScoreExpected }}</td>
                        <td>{{ expected_result.SecondTeamScoreExpected }}</td>
                        <td>{% if(expected_result.points!=NULL) %}{{ expected_result.points }}{% endif %}
                            {% if(expected_result.points==NULL) %}
                                <p>  {{ 'expected_results.blank_score' | trans }} </p>
                            {% endif %}
                        </td>
                    </tr>
                    {% endif %}
               {% endif %}
            {% endfor %}
            </tbody>
        </table>


        {% if is_granted('ROLE_USER') %}
            <a href="{{ path('game1_index') }}">{{ 'expected_results.new' | trans}}</a>
        {% endif %}
    {% endif %}
{% endblock %}