{% extends 'base.html.twig' %}

{% block title %}ExpectedResults index{% endblock %}
{% block body %}
    <h1>ExpectedResults index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Confrontation</th>
                <th>FirstTeamScoreExpected</th>
                <th>SecondTeamScoreExpected</th>
                <th>Points</th>
                <th>GameDate</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for expected_result in expected_results %}
            <tr>
                <td>{{ expected_result.id }}</td>
                <td>{{ expected_result.NameOfMeeting }}</td>
                <td>{{ expected_result.FirstTeamScoreExpected }}</td>
                <td>{{ expected_result.SecondTeamScoreExpected }}</td>
                <td>{{ expected_result.points }}</td>
                <td>{{ expected_result.GameDateId ? expected_result.GameDateId|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <div class="item-actions">
                        <a href="{{ path('expected_results_show', {'id': expected_result.id}) }}" class="btn btn-sm btn-default">
                            <i class="fa fa-eye" aria-hidden="true"></i> {{ 'action.show'|trans }}
                        </a>
                            <a href="{{ path('expected_results_edit', {'id': expected_result.id}) }}" class="btn btn-sm btn-primary">
                                <i class="fa fa-edit" aria-hidden="true"></i> {{ 'action.edit'|trans }}
                            </a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('expected_results_new') }}">Create new</a>
{% endblock %}