{% extends 'base.html.twig' %}

{% block title %}ExpectedResults{% endblock %}

{% block body %}
    <h1>ExpectedResults</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ expected_result.id }}</td>
            </tr>
            <tr>
                <th>Confrontation</th>
                <td>{{ expected_result.NameOfMeeting }}</td>
            </tr>
            <tr>
                <th>FirstTeamScoreExpected</th>
                <td>{{ expected_result.FirstTeamScoreExpected }}</td>
            </tr>
            <tr>
                <th>SecondTeamScoreExpected</th>
                <td>{{ expected_result.SecondTeamScoreExpected }}</td>
            </tr>
            <tr>
                <th>Game_date</th>
                <td>{{ expected_result.GameDateId ? expected_result.GameDateId|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('expected_results_index') }}">back to list</a>

    <a href="{{ path('expected_results_edit', {'id': expected_result.id}) }}">edit</a>

    {{ include('expected_results/_delete_form.html.twig') }}
{% endblock %}