{% extends 'base.html.twig' %}

{% block title %}{{ 'type_weight_edit.title' | trans }}{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script>
        document.getElementById("btn_save").onclick = function() {myFunction()};
        function myFunction() {
            document.getElementById("message").innerHTML="Type of weight has been updated";
        }
    </script>
{% endblock %}
{% block body %}
    <h1>{{ 'type_weight_edit.title' | trans }}</h1>
    <p id="message"></p>
    {{ include('typeof_weight/_form.html.twig', {'button_label': 'update' | trans}) }}

    <a href="{{ path('typeof_weight_index') }}">{{ 'type_weight_show.back' | trans }}</a>

    {{ include('typeof_weight/_delete_form.html.twig') }}
{% endblock %}