{% extends 'base.html.twig' %}

{% block title %}{{ 'type_weight_edit.title' | trans }}{% endblock %}

{% block body %}
    <h1>{{ 'type_weight_edit.title' | trans }}</h1>

    {{ include('typeof_weight/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('typeof_weight_index') }}">{{ 'type_weight_show.back' | trans }}</a>

    {{ include('typeof_weight/_delete_form.html.twig') }}
{% endblock %}