{% extends 'base.html.twig' %}

{% block title %}Game index{% endblock %}

{% block body %}
    <h1>Game index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Confrontation</th>
                <th>First_team_score</th>
                <th>Second_team_score</th>
                <th>Weight</th>
                <th>Game date</th>
                <th>Actions</th>

            </tr>
        </thead>
        <tbody>
        {% for game in games %}
            <tr>
                <td>{{ game.id }}</td>
                <td>{{ game.firstTeam.name }} - {{ game.secondTeam.name }}</td>
                <td>{{ game.firstTeamScore }}</td>
                <td>{{ game.secondTeamScore }}</td>
                <td>{{ game.typeofweight }}</td>
                <td>{{ game.gameDate ? game.gameDate|date('Y-m-d H:i:s') : '' }}</td>

                <td>
                    <div class="item-actions">
                        <a href="{{ path('game_show', {id: game.id}) }}" class="btn btn-sm btn-default">
                            <i class="fa fa-eye" aria-hidden="true"></i> {{ 'action.show'|trans }}
                        </a>
                        {% if app.user and app.user.role == '["ROLE_ADMIN"]' %}
                        <a href="{{ path('game_edit', {id: game.id}) }}" class="btn btn-sm btn-primary">
                            <i class="fa fa-edit" aria-hidden="true"></i> {{ 'action.edit'|trans }}
                        </a>
                        {% endif %}
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if app.user and app.user.role == '["ROLE_ADMIN"]' %}
    <a href="{{ path('game_new') }}">Create new</a>
    {% endif %}
{% endblock %}