{% extends 'base.html.twig' %}


{% block title %}{{ 'tournament_edit.title' | trans }}{% endblock %}
{% block javascripts %}
    {{ parent() }}


    <script>


        document.getElementById("btn_save").onclick = function() {myFunction()};

        function myFunction() {
            document.getElementById("message").innerHTML="Tournament has been updated";
        }


    </script>
{% endblock %}
{% block body %}

    <h1>{{ 'tournament_edit.title' | trans }}</h1>
    <p id="message"></p>

    {{ include('tournament/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('tournament_index') }}">{{ 'tournament.back' | trans }}</a>

    {{ include('tournament/_delete_form.html.twig') }}

{% endblock %}