{% extends 'base.html.twig' %}

{% block title %}{{ 'tournament_table.new2' |trans }}{% endblock %}

{% block body %}

    <h1>{{ 'tournament_table.new' | trans }}</h1>

    {{ include('tournament/_form.html.twig') }}

    <a href="{{ path('tournament_index') }}">{{ 'tournament.back' | trans }}</a>

{% endblock %}