{% extends 'base.html.twig' %}

{% block title %}{{ 'tournament_show.title' | trans }}{% endblock %}

{% block body %}
    <h1>{{ 'tournament_show.title' | trans }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{{ 'tournament_table.name' | trans }}</th>
                <td>{{ tournament.name }}</td>
            </tr>
            <tr>
                <th>{{ 'tournament_table.type' | trans }}</th>
                <td>{{ tournament.TypeOfEvent }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('tournament_index') }}">{{ 'tournament.back' | trans }}</a>
    {% if is_granted('ROLE_ADMIN') %}


        <div class="section">
            <a href="{{ path('tournament_edit', {'id': tournament.id}) }}" class="btn btn-success">
                <i class="fa fa-edit" aria-hidden="true"></i> {{ 'action.edit'|trans }}
            </a>
        </div>
        <br>
        <div class="section">
            {{ include('tournament/_delete_form.html.twig') }}
        </div>
    {% endif %}
{% endblock %}