{% extends 'base.html.twig' %}

{% block title %}{{ 'TypeOfEvent_edit.title' | trans }}{% endblock %}

{% block body %}
    <h1>{{ 'TypeOfEvent_edit.title' | trans }}</h1>

    {{ include('type_of_event/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('type_of_event_index') }}">{{ 'type.back' | trans }}</a>

    {{ include('type_of_event/_delete_form.html.twig') }}
{% endblock %}