{% extends 'base.html.twig' %}

{% block title %}TypeOfEvent index{% endblock %}

{% block body %}
    <h1>TypeOfEvent index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for type_of_event in type_of_events %}
            <tr>
                <td>{{ type_of_event.id }}</td>
                <td>{{ type_of_event.name }}</td>
                <td>
                    <div class="item-actions">
                        <a href="{{ path('type_of_event_show', {'id': type_of_event.id}) }}" class="btn btn-sm btn-default">
                            <i class="fa fa-eye" aria-hidden="true"></i> {{ 'action.show'|trans }}
                        </a>
                        {% if app.user.role is same as('["ROLE_ADMIN"]') %}
                            <a href="{{ path('type_of_event_edit', {'id': type_of_event.id}) }}" class="btn btn-sm btn-primary">
                                <i class="fa fa-edit" aria-hidden="true"></i> {{ 'action.edit'|trans }}
                            </a>
                        {% endif %}
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if app.user.role is same as('["ROLE_ADMIN"]') %}
    <a href="{{ path('type_of_event_new') }}">Create new</a>
    {% endif %}
{% endblock %}