{% extends 'base.html.twig' %}

{% block title %}{{ 'type_table.new2' | trans }}{% endblock %}

{% block body %}
    <h1>{{ 'type_table.new' | trans }}</h1>

    {{ include('type_of_event/_form.html.twig') }}

    <a href="{{ path('type_of_event_index') }}">{{ 'type.back' | trans }}</a>
{% endblock %}