{% extends 'base.html.twig' %}

{% block title %}{{ 'scoreboard.title' | trans }}{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script>

        function sortTable(n) {
            var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
            table = document.getElementById("myTable3");
            switching = true;
            dir = "asc";
            while (switching) {

                switching = false;
                rows = table.rows;

                for (i = 1; i < (rows.length - 1); i++) {

                    shouldSwitch = false;

                    x = rows[i].getElementsByTagName("TD")[n];
                    y = rows[i + 1].getElementsByTagName("TD")[n];

                    if (dir == "asc") {
                        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                            shouldSwitch = true;
                            break;
                        }
                    } else if (dir == "desc") {
                        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                            shouldSwitch = true;
                            break;
                        }
                    }
                }
                if (shouldSwitch) {
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                    switchcount ++;
                } else {
                    if (switchcount == 0 && dir == "asc") {
                        dir = "desc";
                        switching = true;
                    }
                }
            }
        }

    </script>
{% endblock %}
{% block body %}
    <h1>{{ 'scoreboard.title' | trans }}</h1>

    <table class="table" id="myTable3">
        <thead>
            <tr>

                <th onclick="sortTable(0)" style="cursor:pointer">{{ 'expected_results.points' | trans }}</th>
                <th>{{ 'table.actions' | trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for scoreboard in scoreboards %}
            <tr>

                <td>{{ scoreboard.points }}</td>
                <td>
                    <a href="{{ path('scoreboard_show', {'id': scoreboard.id}) }}">
                        {{ 'action.show' | trans }}
                    </a>
                    <a href="{{ path('scoreboard_edit', {'id': scoreboard.id}) }}">
                        {{ 'action.edit' | trans }}
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">{{ 'scoreboard.no_scoreboard_found' | trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}