{% extends 'base.html.twig' %}

{% block title %}{{ 'user_edit.title' | trans }}{% endblock %}

{% block body %}
    <h1>{{ 'user_edit.title' | trans }}r</h1>

    {{ include('user/_form.html.twig', {'button_label': 'update' | trans}) }}

    <a href="{{ path('user_index') }}">{{ 'user_table.back' | trans }}</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
